@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F7F3E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #EBBE85;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #F7F3E8;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #584f4f;
}

.todo-input2{
  outline: none;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  width: 250px;
  color: #070017;
  
}

.todo-input::placeholder {
  color: #504d4d99;
}

.todo-btn {
  background: #dea152;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.todo-btn2 {
  color: #dea152;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F7F3E8;
  color: #2c2a2a;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight:400;
}

.Todo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6e8c7;
  color: #0d0421;
  padding-left:0.2rem;
  border: 1px solid #0d0421;
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 45px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #bdacac;
  text-decoration: line-through;
  cursor: pointer;
}

.tick-icon{
  margin-right: 10px;
}

.edit-icon,.tick-icon,
.delete-icon {
  cursor: pointer;
  color:#dea152;
}
p{
  font-size: small;
}

h6{
  margin-bottom: 1rem;
  color: #332f2f;
}

button{
  border: none;
  background: none;
}
 